body {
    border: solid 3cap rgb(10, 74, 158)
    color: rgb(25, 9, 167);
    background: black
}
header {
    border-bottom: solid 2px rgb(10, 74, 158);
    padding: 20px;
    font-size: 32px;
    color: rgb(5, 66, 146);
}